<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Administración de ACECSA</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://scontent.fgua5-1.fna.fbcdn.net/v/t39.30808-6/360140504_607751404821458_1461504083678481237_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Zuj5OaRT1-wQ7kNvgFeuwqk&_nc_ht=scontent.fgua5-1.fna&oh=00_AYCaYXGHJMwB1nbWXeBll9S5j8pvWcNjAuJuRoR1UgGv0A&oe=66570E14" alt="Logo de ACECSA">
        </div>
        <h1>Aplicación de Administración de ACECSA</h1>
        <p>Bienvenido a la plataforma de administración de ACECSA. Por favor, inicia sesión para continuar.</p>
        
    </div>
    <footer>
        &copy; 2024 ACECSA. Todos los derechos reservados.
    </footer>
</body>
</html>
